<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>BEM VINDO A JAMPA SEBO CULTURAL</h1>
    <p>Servidor Jampa Sebo Cultural</p>

    <img src="<%= imageUrl %>" alt="Logo" class="imagem-reduzida">
  </body>
</html>
